/* index.html */


/* topright */

.tr {
    color: black;
}

.v1 {
    border-left: 1px solid black;
    height: 500px;
    margin: 20px;
}


/* topright */

.tr:hover {
    text-decoration: none;
}

.navbar-dark {
    background-color: #512DA8;
    color: white;
}

.jumbotron {
    background-color: rgb(81, 48, 104);
    color: white;
}


/* search */

.searchform input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

.searchform button {
    width: 10%;
    padding: 10px;
    background: rgba(213, 184, 255, 1);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    /* Prevent double borders */
    cursor: pointer;
}

.searchform button:hover {
    background: rgb(222, 210, 240);
    ;
}


/* footer */

.footer {
    background-color: rgba(213, 184, 255, 1);
    color: black;
    margin-bottom: 0;
    width: 100%;
}

.fa {
    color: blue;
}

.fa:hover {
    text-decoration: none;
    color: black;
}


/* index */

.ib {
    width: 300px;
    height: 100px;
    border: 1px solid blue;
    text-align: center;
    padding: 20px;
    font-size: 15px;
}


/* product.html */

.a {
    background-color: white;
    /* width: 20px; */
    border: 1px solid;
    padding: 30px;
    margin: 0px;
    display: inline-block;
    color: purple;
    color: black;
    font-weight: bold;
}

.a:hover {
    background-color: lightgray;
    text-decoration: none;
    color: #512DA8;
    transition-delay: 200ms;
}


/* My cart */